[Unit]
Description=BlueALSA aplay
Requires=bluealsa.service
After=bluealsa.service sound.target audio_mix_server.service

[Service]
Type=simple
User=root
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/bluealsa-aplay -vv 00:00:00:00:00:00
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user-target
